* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: #260F0D;
  color: #A68072;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  color: #A68072;
  text-decoration: none;
}

.home .hero {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(70, 13, 14, 0.4), rgba(70, 13, 14, 0.4)), url(../images/building.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .content {
  background-color: #a68072;
  height: 400px;
}
.home .content h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.home .content .text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home .content .text p {
  width: 400px;
}

.about .hero {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(70, 13, 14, 0.4), rgba(70, 13, 14, 0.4)), url(../images/buildingTwo.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .content {
  background-color: #a68072;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about .content h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.about .content p {
  width: 600px;
}

.projects .hero {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(70, 13, 14, 0.4), rgba(70, 13, 14, 0.4)), url(../images/projects.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .content {
  background-color: #a68072;
  text-align: center;
  padding-top: 50px;
}
.projects .content .images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.projects .content .images .photo {
  margin: 50px;
  height: 500px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .hero {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(70, 13, 14, 0.4), rgba(70, 13, 14, 0.4)), url(../images/rooms.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .content {
  background-color: #a68072;
  height: 400px;
  text-align: center;
}
.contact .content h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.contact .content .text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact .content .text p {
  width: 400px;
}

footer {
  height: 50px;
  background-color: #260F0D;
  color: #A68072;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer a {
  color: #A68072;
  text-decoration: none;
}
