footer {
    height: 50px;
    
    background-color: #260F0D;
    color: #A68072;
    text-decoration: none;
    display: flex;
  align-items: center;
  justify-content: space-evenly;
    a {
        color: #A68072;
    text-decoration: none;
    }
}